* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Positionierung der Card in der Mitte des Browsers*/
.card {
  width: 400px;
  background-color: #b0cae7;
  border-radius: 10px;
}

/* Positionieren des Icons vorbereiten */
.card .card-header {
  color: #434a54;
}

.card .card-header h3 {
  line-height: 60px;
  padding-left: 20px;
}

/* Positionieren des Icons */
.card .card-header img {
  height: 30px;
}

.card .card-image {
  height: 150px;
  overflow: hidden;
}

/* Positionierung von Bild */
.card .card-image img {
  width: 400px;
}

.card .card-main {
  padding: 20px 20px 0 20px;
  color: #434a54;
}

/* Positionierung von Typ Info und Detail Button
   vorbereiten */
.card .card-footer {
  height: 40px;
  padding: 20px;
}

/* Positionionierung von Detail Button*/
.card .card-footer button {
  padding: 10px;
  line-height: 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #ed5564;
  color: #e6e9ed;
  cursor: pointer;
}

/* Positionionierung der Typ Info */
.card .card-footer .type {
  height: 20px;
  border: 2px solid #434a54;
  border-radius: 30px;
  padding: 5px;
  color: #434a54;
}
